 body {
     font-family: Arial, sans-serif;
     background-color: #f0f8ff;  
     color: #333; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
 }

 .container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #fff; 
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
     padding: 20px;
     max-width: 1000px; 
     width: 100%;
     margin-top: 100px;
 }

 .pic {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px;
 }

     .pic img {
         max-width: 300px;
         border-radius: 10px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
     }

 .breed {
     margin-top: 10px;
     text-align: center;
 }

     .breed a {
         color: #1e90ff;  
         text-decoration: none;
         font-size: 1.2em;
     }

         .breed a:hover {
             text-decoration: underline;
         }
 .button-container {
     text-align: center;
     margin-top: 20px;
 }

 .load-more {
     background-color: #1e90ff;  
     color: #fff;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     font-size: 1em;
     cursor: pointer;
     transition: background-color 0.3s ease; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 }

     .load-more:hover {
         background-color: #1c86ee; 
     }
	 

    h1 {
        font-size: 2.5em;
        color: #ff4500; 
        margin-bottom: 10px;
    }

      h4 {
        font-size: 1.5em;
        color: #008b8b;  
        margin-bottom: 20px;
    }

    .info {
        width: 600px;
    }

    .desc p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 0 15px; 
    text-align: justify;  
    }

    .desc img {
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    }
